:root {
    --primary-color: #007bff;
    --hover-color: #0056b3;
    --text-color: #312f30;
    --light-text-color: #666;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-shadow-color: rgba(0, 0, 0, 0.2);
}

.ad-card {
    width: 250px;
    height: 250px;
    background: var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    background-color: #fff;
    color: var(--text-color);
    border-top-left-radius: 20px;
    cursor: pointer;
    transform: translateY(10%);
    transition: transform 0.3s;
    max-width: 350px;
    margin: 10px;
    box-shadow: -20px 20px 5px var(--shadow-color);
    box-sizing: border-box;
    transition: transform 0.3s;

}

.ad-card:hover {
    transform: translateY(0);
}

.ad-card__title {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 20px;
    color: #000000;
}

.ad-card__description {
    color: var(--text-color);
    flex-grow: 1;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.ad-card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.ad-card__price {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 700;
}

.ad-card__location {
    font-size: 1rem;
    color: var(--light-text-color);
}

.ad-card__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.ad-card__buttons a {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
    box-shadow: 0px 2px 5px var(--shadow-color);
    font-size: 1rem;
    margin: 0 5px;
}

.ad-card__buttons a:hover {
    background-color: var(--hover-color);
    box-shadow: 0px 4px 15px var(--hover-shadow-color);
}