.sidebar {
    position: fixed;
    top: 62px;
    left: 0;
    bottom: 0;
    width: 36px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
    padding-bottom: 30px;
    /* Añadido para mejorar la interactividad */
    overflow-x: hidden;
  }

  .sidebar.header-hidden {
    top: 0; /* Cuando el header está oculto */
  }

  .sidebar:hover {
    width: 220px;
  }

  
  
  .sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px 2px 5px 5px;
    /* Añadido para mejorar la transición */
    transition: padding 0.3s ease;
  }
  
  .logo img {
    width: 50px;
    border-radius: 0%;
  }
  
  .logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
    /* Añadido para mejorar la legibilidad */
    line-height: 1.4;
  }
  
  .sidebar:hover .logo h2 {
    display: block;
  }

  .sidebar .category-list {
    list-style: none;
    margin-top: 5px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
    /* Añadido para mejorar la interactividad */
    padding: 0 0px;
  }
  
  .sidebar .category-list::-webkit-scrollbar {
    display: none;
  }
  
  .category-list li {
    display: flex;
    border-radius: 12px;
    align-items: center;
  
  }
  
  .category-list li:hover {
    cursor: pointer;
    background: #fff;
  }
  
  .category-list h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
    /* Añadido para mejorar la legibilidad */
    line-height: 1.2;
  }
  
  .sidebar:hover .category-list h4 {
    display: block;
  }
  
  .sidebar:hover .category-list hr {
    border-color: transparent;
  }
  
  .category-list li span {
    padding: 12px 10px;
  }
  
  .category-list li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    /* Añadido para mejorar la legibilidad */
    line-height: 0.6;
  }
  
  .sidebar:hover .category-list li a {
    display: block;
  }
  
  .category-list .logout-link {
    margin-top: 20px;
  }
  
  .sidebar:hover .search-bar {
    opacity: 1;
    height: auto;
    padding: 10px;
  }

  