:root {
    --main-color: #12b2b8;
    --secondary-color: #0b649c;
    --font-color: #333;
    --placeholder-color: #999;
    --background-color: #f0fcfe;
    --font-family: "Poppins", sans-serif;
    --input-border: 1px solid #ccc;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
  
  /* Reset CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }
  
  body {
    height: 100vh;
    width: 100%;
    background: var(--background-color) url("images/hero-bg.jpg") center/cover;
  }
  
  /* Header */
  .header {
    width: 100;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  /* Navigation */
  .nav-wrapper form {
    display: flex;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    padding: 0;
  }
  
  .nav-wrapper form input[type="text"],
  .nav-wrapper form button {
    padding: 0px;
  }
  
  .nav-wrapper form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .nav-wrapper form button {
    padding-right: 10px;
  }
  
  /* Formulario */
  .form-column {
    display: flex;
    flex-direction: column; /* Alinea los elementos del formulario verticalmente */
    align-items: center; /* Centra los elementos del formulario horizontalmente */
  
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 24px 16px rgba(0, 0, 0, 0.1);
    max-width: 250px; /* Limita el ancho del formulario */
    margin: 0 auto; /* Centra el formulario en la página */
  }
  
  .show-form .form-column {
    display: flex;
  }
  
  .ad-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0;
  }
  
  label {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: var(--input-border);
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--font-color);
  }
  
  input[type="text"]::placeholder,
  textarea::placeholder {
    color: var(--placeholder-color);
  }
  
  button[type="submit"] {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.4s;
  }
  
  button[type="submit"]:hover {
    background-color: var(--secondary-color);
  }
  
  /* Estilos Responsivos */
  @media screen and (max-width: 768px) {
    .anuncios-column,
    .form-column {
      flex-direction: column;
      align-items: flex-start;
      max-width: 100%;
    }
  
  .show-form .form-column {
      display: flex;
    }
  
    .main-content {
      padding-left: 0;
    }
  }
  
  .formulario-edicion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  h1 {
    text-align: center;
    color: #b7d9e2;
    margin-bottom: 20px;
  }
  
  .navbar {
    display: flex;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    background-color: #1f5372;
    color: #fff;
    padding: 0 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  /* Main Content */
  .main-content {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 20px 0;
    z-index: 1;
    position: relative;
  }
  
  .anuncios-column {
    flex: 1;
    justify-content: flex-start;
  }
  
  
  /* Lista de Anuncios */
  #anuncios-list {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Añadido para alinear los elementos al centro */
    align-items: center;
  }
  
  .anuncio-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Añadido para mejorar la transición */
    transition: box-shadow 0.3s ease;
  }
  
  .anuncio-card:hover {
    /* Añadido para mejorar la interactividad */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .anuncio-titulo {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 600;
    /* Añadido para mejorar la legibilidad */
    line-height: 1.4;
  }
  
  .anuncio-descripcion {
    font-size: 0.9rem;
    color: #666;
    flex-grow: 1;
    /* Añadido para mejorar la legibilidad */
    line-height: 1.6;
  }
  
  .anuncio-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .anuncio-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
    /* Añadido para mejorar la interactividad */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .anuncio-buttons button:hover {
    background-color: #0056b3;
    /* Añadido para mejorar la interactividad */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
    padding-bottom: 30px;
    /* Añadido para mejorar la interactividad */
    overflow-x: hidden;
  }
  
  .sidebar:hover {
    width: 220px;
  }
  
  .sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px 2px 5px 5px;
    /* Añadido para mejorar la transición */
    transition: padding 0.3s ease;
  }
  
  .logo img {
    width: 50px;
    border-radius: 0%;
  }
  
  .logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
    /* Añadido para mejorar la legibilidad */
    line-height: 1.4;
  }
  
  .sidebar:hover .logo h2 {
    display: block;
  }
  
  .sidebar .category-list {
    list-style: none;
    margin-top: 5px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
    /* Añadido para mejorar la interactividad */
    padding: 0 0px;
  }
  
  .sidebar .category-list::-webkit-scrollbar {
    display: none;
  }
  
  .category-list li {
    display: flex;
    border-radius: 12px;
    align-items: center;
  
  }
  
  .category-list li:hover {
    cursor: pointer;
    background: #fff;
  }
  
  .category-list h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
    /* Añadido para mejorar la legibilidad */
    line-height: 1.2;
  }
  
  .sidebar:hover .category-list h4 {
    display: block;
  }
  
  .sidebar:hover .category-list hr {
    border-color: transparent;
  }
  
  .category-list li span {
    padding: 12px 10px;
  }
  
  .category-list li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    /* Añadido para mejorar la legibilidad */
    line-height: 0.6;
  }
  
  .sidebar:hover .category-list li a {
    display: block;
  }
  
  .category-list .logout-link {
    margin-top: 20px;
  }
  
  .sidebar:hover .search-bar {
    opacity: 1;
    height: auto;
    padding: 10px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  
  .search-bar-2 {
    width: 80%;
    padding: 0;
  }
  
  .search-bar input[type="text"] {
    width: calc(100% - 0px);
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    /* Añadido para mejorar la interactividad */
    transition: padding 0.3s ease;
  }
  
  .publish-button {
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    z-index: 1;
    /* Añadido para mejorar la interactividad */
    transition: background-color 0.3s ease;
  }
  
  .publish-button a {
    padding: 5px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    /* Añadido para mejorar la legibilidad */
    line-height: 1.6;
  }
  
  .hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
  }
  /* Agrega estilos específicos para dispositivos móviles */
  @media (max-width: 767px) {
    .anuncios-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .anuncio-card {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .anuncio-buttons {
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
    }
  
  
  }
  